body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: rgba(242, 170, 76, 0.687);
  color: black;
  font-size: 2em;
}

div {
  left: 0;
  right: 0;
}

ul {
  list-style-type: none;
}

.move {
  height: 100%;
  overflow-y: scroll;
  padding-left: 40px;
}

.top {
  top: 16%;
  height: 55%;
  position: absolute;
  left: 0;
  right: 0;
}
.bottom {
  height: 25%; 
  bottom:0%;
  width:100%; 
  color: whitesmoke;
  background-color: #101820FF; 
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  padding: 2rem;
  overflow-x: hidden;
  display: inline-block;
}

.scroll::-webkit-scrollbar {
  width: 1px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

input {
  font-size: 2rem;
  margin-bottom: 5px
}

button {
  width: 100%;
}